:root{
    --bg-color: hsl(210, 46%, 95%);
    --light-paragraph-color: hsl(210, 10%, 74%);
    --white:  hsl(0, 0%, 100%);
    --violet: hsl(263, 55%, 52%);
    --secondary-color: hsl(218, 18%, 30%);
    --section-color: hsl(219, 29%, 14%);
    --primary-font-size: 0.8125rem;
    

}
*, 
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 4.5em 1.5em;
    background: var(--bg-color);
    font-size: var(--primary-font-size);
    color: hsl(0, 0%, 81%);
    line-height: 1.4;
}
.intro-img{
    display: block;
    max-width: 100%;
    width: 38px;
    height: 38px;
    border-radius: 5rem;
    border: .187rem solid hsl(263, 73%, 62%);
}

.section1 {
    background: var(--violet);
}
.section2 {
    background: var(--secondary-color);
    margin-top: 2em;
}
.section3{
    background: var(--white);
    margin-top: 2em;
}

.intro{
    display: flex;
    flex-direction: row;
    gap: 1.7em;
    min-width: 20%;
}
.intro-text{
    align-self: center;
}
 .intro-text h2{
    font-size: 1.1em;
    color: hsl(210, 46%, 95%);
}
.intro-content{
    margin-top: 1.7em;
    width: 93%;
}
.bold-paragraph{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1em;
    color: hsl(210, 46%, 95%);
}
.light-paragraph{
    font-weight: bold;
    padding-top: 1rem;
}

.section{
    padding: 2em;
    border-radius: .7rem;
}
.intro-text3 h2, .dark-paragraph{
    color: var(--secondary-color);
}
.section4 {
    background: var(--section-color);
    margin-top: 1.7em;
}
.section5{
    background: var(--white);
    margin-top: 1.7em;
}
.intro-text5 h2, .dark-paragraph{
    color: var(--secondary-color);
}

@media screen and (min-width:620px) {
    body{
        padding: 3rem;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    .section{
        margin-top: 0;
    }
  
    .section1{
        grid-column: 1 / 3;
    }
    .section2{
        grid-column: 1 / 2;
    }
    .section4{
        grid-column: 1 / 3;
    }
    .section5{
        grid-column: 1 / 3;
    }
    .intro-text{
        font-size: var(--primary-font-size);
    }
}

@media screen and (min-width: 1190px) {
    body{
        padding: 2rem;
        font-size: 1rem;
    }
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 35px;
        margin: 0 auto;
        width: 90%;
    }
    .bold-paragraph{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .light-paragraph{
        font-size: 1rem;
        font-weight: 500;
        margin-top: -1em;
    }
    .section{
        margin: 0;
    }
    .section1, 
    .section2, 
    .section3,
    .section4,
    .section5{
        padding: 2rem;
    }
    .section1{
        grid-column: 1 / 3;
    }
    .section2{
        grid-column: 3 / 4;
    }
    .section3{
        grid-row: 2;
    }
    .section4{
        grid-column: 2 / 4;
    }
    .section5{
        grid-column: 4 / 5;
        grid-row: 1 / 3 ;
    }
}